#search-button, .savedButtons{
    margin: 5px;
    border: 2;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    background-color: aliceblue;
}
* {
    border: 0px;
}
.savedButtons {
    font-size: 22px;
}
h1 {
    background-color: rgb(176, 241, 241);
}

h3 {
    margin-top: 10px;
}

#search-history {
    inline-size: min-content;
    padding: 10px;
    margin-top: 90px;
    margin-bottom: 20px;
    width: fit-content;
}

form {
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

#left-container {
    align-items: left;
    background-color: rgb(208, 232, 233);
}
#right-container {
    background-color: rgb(208, 232, 233);
}

.day {
    margin: 10px;
}